accelerate==0.21.0
auto_gptq==0.3.0
fschat==0.2.31
grpcio==1.56.0
grpcio-tools==1.56.0
huggingface_hub==0.14.1
intel_extension_for_pytorch==2.0.100
openai==0.27.8
peft==0.4.0
protobuf==4.21.8
psutil==5.9.5
pycld2==0.41
Requests==2.31.0
torch==2.0.1
tqdm==4.65.0
transformers==4.31.0
